.settings {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.settings__item {
  color: #fff;
}

.settings.light > .settings__item {
  color: #000;
}

.settings__btn {
  padding: 0;
  width: 44px;
  border: 1px solid #00f1ff3d;
}

.settings.dark > .settings__btn {
  border-color: #00f1ff3d;
}

.settings.light > .settings__btn {
  background-color: #003f423d;
}

.settings__switcher {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #00ffff;
  transition: right 0.5s;
}

.settings__switcher.light {
  right: 0;
}

.settings__switcher.dark {
  right: -20px;
}
