.limit {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.limit__select {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 30px;
  padding: 10px;
}

.limit.light > .limit__select {
  background-color: #c2c2c2;
  color: #000;
}
